@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  img {
    vertical-align: middle;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(95, 53, 245, 0.692); /* Example dark color */
    border-radius: 9999px; /* Rounded corners */
  }

  ::-webkit-scrollbar-track {
    background: rgba(209, 213, 219, 0.5); /* Lighter background color */
  }
}
